.table_container {
    background: #fff;
    height: 500;
    width: 100%;
    background: #fff;
    margin-top: 2em;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .table_header {
        font-weight: 600 !important;
        // color: green;
    }

    .Active {
        background-color: #f3fcfc !important;
        width: 100%;
        padding: 0 2em;
        margin: 0;
        line-height: 0;
        text-align: center;
        border-radius: 100px;
        color: green !important;
        opacity: 1 !important;
    }

    .Inactive {
        background-color: #F5F5F5 !important;
        width: 100%;
        padding: 0 2em;
        margin: 0;
        line-height: 0;
        text-align: center;
        border-radius: 100px;

        p {
            color: #545F7D !important;
        }
    }

    .Pending {
        background: #fdf7e5;
        width: 100%;
        padding: 0 2em;
        margin: 0;
        line-height: 0;
        text-align: center;
        border-radius: 100px;

        P {
            color: #E9B200 !important;
        }
    }

    .Blacklisted {
        background: #FCE6EB !important;
        width: 100%;
        padding: 0 2em;
        margin: 0;
        line-height: 0;
        text-align: center;
        border-radius: 100px;

        p {
            color: #E4033B !important;
        }
    }


}

.active {
    background-color: #f3fcfc !important;
    color: var(--tertiary-color) !important;
    opacity: 1 !important;
}

.inactve {
    background-color: #fff !important;
    color: var(--quaternary-color) !important;
    opacity: 0.7 !important;
}