* {
    font-family: 'Avenir';
}

.signIn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    @media (max-width: 900px) {}

    .row_1 {
        flex-shrink: 0;
        flex: 1;
        width: 50%;
        display: none;

        @media (min-width: 768px) {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .login_container {
        flex-direction: row;
    }

    .logo-container {
        margin-bottom: 50px;
        padding: 1em;
    }

    .login_image {
        width: 100%;
        height: 100%;
    }

    .row_2 {
        box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
        flex-shrink: 0;
        flex: 1;
        width: 50%;

        .login_header {
            margin-top: 1em;
            line-height: 0;
            font-size: 40px;
            font-weight: 700;
            color: var(--tertiary-color);
        }

        .login_desc {
            font-size: 20px;
            color: var(--quaternary-color);
            line-height: 0;
            margin-bottom: 3em;
            font-weight: 400;
        }

        form {
            width: 100%;

            .fgt_pass {
                color: var(--secondary-color);
                margin: 1.5em 0;
                font-size: small;
                font-weight: 500;
            }
        }
    }

}