.open {
    left: 0 !important;
    transition: all 0.2s ease;
}

.sidemenu_container {
    position: fixed;
    top: 5.5em;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 84vh;
    padding: 1em 0;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    overflow-y: auto;
    transition: all 0.2s ease;

    @media (max-width: 768px) {
        transition: all 0.3s ease-in;
        z-index: 9999;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 98vh;
        left: -100%;
    }
}


.nav_link_btn {
    color: var(--quaternary-color) !important;
    font-size: 16px;
    opacity: 0.7;
    position: relative;

    &:hover {
        color: var(--tertiary-color);
        background-color: #f3fcfc;
    }

    .nav_link_txt {}
}

.nav_link_btn.active::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-left: 3px solid var(--secondary-color) !important;
}

.nav_link_btn.active {
    background-color: #f3fcfc !important;
    color: var(--tertiary-color) !important;
    opacity: 1;
}

.nav_link_title {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--tertiary-color);
    padding-left: 2em;
    font-weight: 500;
}

.version {
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: 400;
}