.sidemmenu_container {

    .side_active_link {
        color: var(--tertiary-color);
        font-size: 13px;
    }

    .nav_link_btn {
        color: var(--quaternary-color);
        opacity: 0.6;
        padding: 0 2em;

        &:hover {
            // color: var(--tertiary-color) !important;
            opacity: 1;
            background-color: #f3fcfc;
        }

        .nav_link_txt {
            opacity: 1;
            font-size: 13px !important;
        }
    }

    .nav_link_btn.active {
        border-left: 3px solid var(--secondary-color) !important;
        background-color: #f3fcfc !important;
        color: var(--tertiary-color) !important;
    }
}