.user_details_back {
    color: var(--quaternary-color) !important;
    font-size: 16px;
}

.user_details_title {
    font-size: 24px;
    font-weight: 500;
    color: var(--tertiary-color);
    line-height: 0;
    width: max-content;
}

.card_details_title {
    font-size: 16px;
    font-weight: 500;
    color: var(--tertiary-color);
    line-height: 0;
    margin-bottom: 2em;
}

.user_details_card {



    .img_wrapper {
        background: #DBE0EA;
        border-radius: 50%;
        height: 100%;
    }

    .img_wrapper img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user_details_name {
        font-weight: 500;
        font-size: 22px;
        color: var(--tertiary-color);
        line-height: 0;
        width: max-content;
    }

    .user_details_number {
        font-size: 14px;
        font-weight: 400;
        color: var(--tertiary-color);
        line-height: 0;
    }

    .user_details_balance {
        font-size: 20px;
        font-weight: 500;
        color: var(--tertiary-color);
        line-height: 0;
    }

    .user_details_num {
        font-size: 14px;
        font-weight: 400;
        color: var(--tertiary-color);
        line-height: 0;
    }

    .user_details_rating {
        font-size: 14px;
        font-weight: 500;
        color: var(--tertiary-color);
        line-height: 0;
    }
}

.user_details_tab_link {
    padding: 0 1.5em;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    transition: border-bottom .3s ease-in-out;
    font-size: 16px;
}

.user_details_tab_link.active {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: border-bottom .3s ease-in;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-bottom: 2em;
    padding-right: 4em;
    // padding-right: 2em;
    width: max-content;

    >p {
        font-size: 14px;
        font-weight: 400;
        color: var(--quaternary-color);
        width: max-content;
    }

    >span {
        font-size: 16px;
        font-weight: 500;
        color: var(--quaternary-color);
        width: max-content;
    }
}

.card_personal_wrap {
    // border-bottom: 1px solid rgba(33, 63, 125, 0.06);
    // padding: 0 0 2em 0 !important;
}

.divider-x {
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 2em;
}

.wrapper {
    flex: 1 1 0;
    width: 100%;
}

.btn_wrap{}