/* Path: src\index.css */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Work Sans", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #39CDCC;
  --tertiary-color: #213F7D;
  --quaternary-color: #545F7D;
  --quinary-color: #DF18FF;
  --senary-color: #eee8ff;
  --septenary-color: #f5f5f5;
  --octonary-color: #f5f5f5;
  --nonary-color: #f5f5f5;
  --denary-color: #f5f5f5;
  --primary-font: "Work Sans", sans-serif;
  --secondary-font: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

.txt_secondary {
  color: var(--secondary-color);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}